<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1MwxcmOQShpgxxvytVmMvKnU31cPHEgw</string>
	<key>GCM_SENDER_ID</key>
	<string>12059211333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coinapp</string>
	<key>PROJECT_ID</key>
	<string>coinapp-68ae6</string>
	<key>STORAGE_BUCKET</key>
	<string>coinapp-68ae6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12059211333:ios:6e14026228f2c23ec8552c</string>
</dict>
</plist>